@{
    ViewBag.Title = "Home Page - OCR Demo";
}

<div class="jumbotron">
    <h1>Microsoft Cognitive Services</h1>
    <h2>Computer Vision OCR Demo</h2>
</div>

<div class="row">
    <div class="col-md-7">
        <p>
            <select id="ImageUrlDropdown">
                <option value="https://noemifairy.files.wordpress.com/2013/06/robert-frost-the-road-not-taken.jpg">Frost</option>
                <option value="http://www.traditionalmusic.co.uk/songster/png/02-paul-reveres-ride.png">Longfellow</option>
                <option value="http://media.tumblr.com/tumblr_lrbhs0RY2o1qaaiuh.png">Poe</option>
                <option value="http://mypoeticside.com/wp-content/uploads/textimage/b5bb3f07ab91e9c2a235abd6f3b0c4e5.png">Carroll</option>
                <option value="http://www.poemhunter.com/i/poem_images/875/the-hippopotamus.jpg">Nash</option>
                <option value="http://www.poemhunter.com/i/poem_images/695/a-noiseless-patient-spider.jpg">Whitman</option>
                <option value="http://msbellon.weebly.com/uploads/2/9/1/4/2914983/5028403_orig.png?0">Shakespeare</option>
                <option value="http://2.bp.blogspot.com/-b_UaOR_a1iU/UkeIAj2YGLI/AAAAAAAAGWM/bpXh202HAQk/s1600/spanish-love-poem.jpg">Sobran Las Palabras (Spanish)</option>
                <option value="https://s-media-cache-ak0.pinimg.com/564x/b0/e4/81/b0e48170856a3e4d03bb2c5dfe990fff.jpg">5 Ratoncitos (Spanish)</option>
                <option value="https://s-media-cache-ak0.pinimg.com/564x/ea/9b/16/ea9b16ef39b5a61b52ca8726a90e9679.jpg">C'est la noelle (French)</option>
                <option value="http://www.mounttemple.ie/wp-content/uploads/2013/10/french-poem-2-e1382017346693.jpg">Je voudrais Aller par dela la Mer (French)</option>
            </select>
        </p>
        <p>
            <select id="LanguageDropdown">
                <option value="en">English</option>
                <option value="es">Spanish</option>
                <option value="fr">French</option>
            </select>
        </p>
        <p>
            <button id="GetTextFromPictureButton">Get Text</button>
        </p>
        
    @*</div>
    <div class="col-md-4">*@
        <div>Source: <span id="SourceUrlSpan"></span></div>
        <iframe id="TextImageFrame" width="100%" height="800px"></iframe>
    </div>
    <div class="col-md-4">
        <div id="OutputDiv"></div>  
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $(function () {
        $("#ImageUrlDropdown").change(function () {
            var url = this.value;
            showTextImage(url);
        })

        showTextImage = function (url) {
            $("#SourceUrlSpan").text(url);
            $("#TextImageFrame").attr("src", url);
            $("#OutputDiv").text("");

        }


            $("#GetTextFromPictureButton").click(function () {
                var outputDiv = $("#OutputDiv");
                outputDiv.text("Thinking...");
                var url = $("#ImageUrlDropdown").val();
                var language = $("#LanguageDropdown").val();
                var computerVisionKey = getKey() || "Copy your Subscription key here";
                var webSvcUrl = "https://westus.api.cognitive.microsoft.com/vision/v1.0/ocr";
                webSvcUrl = webSvcUrl + "?language=" + language;
            $.ajax({
                type: "POST",
                url: webSvcUrl,
                headers: { "Ocp-Apim-Subscription-Key": computerVisionKey },
                contentType: "application/json",
                data: '{ "Url": "' + url + '" }'
            }).done(function (data) {
                outputDiv.text("");

                var regionsOfText = data.regions;
                for (var h = 0; h < regionsOfText.length; h++) {
                    var linesOfText = data.regions[h].lines;
                    for (var i = 0; i < linesOfText.length; i++) {
                        var output = "";

                        var thisLine = linesOfText[i];
                        var words = thisLine.words;
                        for (var j = 0; j < words.length; j++) {
                            var thisWord = words[j];
                            output += thisWord.text;
                            output += " ";

                        }
                        var newDiv = "<div>" + output + "</div>";
                        outputDiv.append(newDiv);

                    }
                    outputDiv.append("<hr>");
                }
                
            }).fail(function (err) {
                $("#OutputDiv").text("ERROR!" + err.responseText);
            });



            });

            $('#ImageUrlDropdown option:eq(0)').prop('selected', true);
            showTextImage($('#ImageUrlDropdown option:eq(0)').val());


    });


    var getKey = function () {
        // TODO: Replace with your Computer Vision API key
        return "6afdfbf76e3240298ad0d585006a896a";
    }

</script>
    }

